#rate {
    display: none;
}

#curses {
    display: block;
    margin: 50px auto 15px;
}

td {
    border: 1px solid #ddd;
    padding: 8px;
}

.btn-history {
    display: block;
    margin: 5px auto auto;
}

.preloader {
    display: none;
    margin: 0 auto;
}