{% extends "::base.html.twig" %}

{% block title %}Курс валют{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-md-offset-4 col-md-4">
            <input type="submit" value="Получить" id="curses" class="btn btn-success btn-lg" title="Получить курс валют">

            <p class="preloader text-center"><img class="loader" src="{{ asset('images/loader.gif') }}" alt="Идет загрузка"></p>

            <table id="rate" class="table"></table>

            <h2 class="text-center" title="Отображает последние 10 запросов">История запросов</h2>
            {% for rate in rates %}
                <button type="button" class="btn btn-primary btn-lg btn-history" data-toggle="modal" data-target="#{{ rate.id }}">
                    {{ rate.datetime|date('Y-m-d H:i:s') }}
                </button>

                <div class="modal fade" id="{{ rate.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">
                                    {{ rate.datetime|date('Y-m-d H:i:s') }}
                                </h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-bordered hist">
                                    <tr>
                                        <th>Валюта</th>
                                        <th>Покупка</th>
                                        <th>Продажа</th>
                                    </tr>
                                    <tr>
                                        <td><b>USD</b></td>
                                        <td>{{ rate.usdBuy }}</td>
                                        <td>{{ rate.usdSell }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>EUR</b></td>
                                        <td>{{ rate.eurBuy }}</td>
                                        <td>{{ rate.eurSell }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>RUB</b></td>
                                        <td>{{ rate.rubBuy }}</td>
                                        <td>{{ rate.rubSell }}</td>
                                    </tr>
                                    <tr>
                                        <td><b>KZT</b></td>
                                        <td>{{ rate.kztBuy }}</td>
                                        <td>{{ rate.kztSell }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    <script>
        $(function () {
            var preloader = $('.preloader');
            var table = $('#rate');
            var th =
                '<tr class="rates">' +
                    '<th>' + 'Валюта' + '</th>' +
                    '<th>' + 'Покупка' + '</th>' +
                    '<th>' + 'Продажа' + '</th>' +
                '</tr>';
            $('#curses').click(function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/parsing',
                    beforeSend: function() {
                        preloader.show();
                    },
                    success: function (datas) {
                        table.html('');
                        table.append(th);
                        $.each(datas, function (i, data) {
                            printTable(data, table);
                        });
                        table.show();
                    },
                    complete: function(){
                        preloader.hide();
                    }
                });
            });

            function printTable(data, table) {
                table.append(
                    '<tr class="rates">' +
                        '<td><b>' + data.name + '</b></td>' +
                        '<td>' + data.buy + '</td>' +
                        '<td>' + data.sell + '</td>' +
                    '</tr>'
                );
            }
        });
    </script>
{% endblock %}
